.loginContainer{
    display: flex;
    align-items: center;
    margin: auto;
    height: 90vh;
    width: 95vw;
    justify-content: center;
    background-color: rgb(252, 252, 252);
}

.login{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form{
    border: 1px solid rgb(193, 190, 190);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    grid-gap: 10px;
    background-color: white;
    height: 40%;
    width: 24%;
    box-shadow: 4px 10px rgb(168, 168, 168);
    transition: all 0.5s ease-in;
}
.form:hover{
    /* background-color: black;
    color: white; */
    border-radius: none;
}
.input{
    height: 20%;
    border: 1px solid rgb(220, 218, 218);
    border-radius: 10px;
    width: 90%;
    
    
}

.input::placeholder{
    text-align: center;
}

.logInButton{
    width: 40%;
    height: 18%;
    border-radius:10px ;
    background-color: white;
    transition: all 0.3s ease ;
    background-color: black;
    color: white;
}
.logInButton:hover{
    scale: 1;
}
.logInButton:active{
    scale: 1.02;
}


/* responsive */

@media (max-width:650px) and (min-width:0px){
    
    .form{
        /* background-color: black; */
        width: 90%;
        height: 45%;
    }
    .logInButton{
        height: 10%;
    }
}